
body {
    padding: 0px;
    margin: 0;
    scroll-behavior: smooth;
    height: 100vh;
    width: auto;


}





.headings{
    color:black;
    margin-top: 30px;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
}
.paragraphs{
    font-family: 'Hind', sans-serif;
    font-weight: bold;
    color: black;
    text-align: left;
}



.btn_donate_now{
    color: white;
    font-size: 20px;
    padding: 15px 25px;
    font-weight: bold;
    border-radius: 10px;
    background-color: red;
    margin-top: 20px;
    
    
    
}










.third_page_container{
    display: flex;
    height: 100vh;
    width: auto;
    justify-content: center;
    align-items: center;
    position: relative;
}

.left_third{
   
    
    height: 350px;
    width: 400px;
    border-radius: 15px;
    margin-left: 120px;
    
    
}

.right_third{

height: 50%;
width: 50%;
margin-left: 120px;
margin-right: 120px;

}



