
body {
    padding: 0px;
    margin: 0;
    scroll-behavior: smooth;
    height: auto;
    width: auto;

    

}
.article_class{
    
   
    height: auto;
    width: auto;
    margin-left: 150px;

    
}



.first_page_container{
    width: auto;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    background-repeat: no-repeat; 
    background-size: cover;
   background-image: url(Images/front_image.jpg);


   
  box-shadow: inset 300px 0px 300px 10px rgb(15, 14, 14);

    



    
}
article h1{
    color: white;
    margin-top: 30px;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
}
article p{
    font-family: 'Hind', sans-serif;
    font-weight: bold;
    color: #fff;
}

.btn_donate_now{
    color: white;
    font-size: 20px;
    padding: 15px 25px;
    font-weight: bold;
    border-radius: 10px;
    background-color: red;
    margin-top: 20px;
    margin-bottom: 0px;
}

body {
    padding: 0px;
    margin: 0;
    scroll-behavior: smooth;
    height: 100vh;
    width: auto;


}





.headings{
    color:black;
    margin-top: 30px;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
}
.paragraphs{
    font-family: 'Hind', sans-serif;
    font-weight: bold;
    color: black;
}



.btn_donate_now{
    color: white;
    font-size: 20px;
    padding: 15px 25px;
    font-weight: bold;
    border-radius: 10px;
    background-color: red;
    margin-top: 20px;
    margin-bottom: 0px;
}






.left{
   
    height: auto;
    width: 400px;
    
    

}

.right{
    ;
    height: auto;
    width: 400px;


}

.second_page_container{
    display: flex;
    height: 100vh;
    width: auto;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: wrap row;

    margin-bottom: 50px;
    margin-top: 50px;
}




.resp-iframe__container {
  position: relative;
  overflow: hidden;

  border-radius: 2rem;
  padding-top: 56.25%; // video ratio 9 / 16 = 0.5625 ~ 56.25% change this according video ratio
  
}
.resp-iframe__embed {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
}





.headings{
    color:black;
    margin-top: 30px;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
}
.paragraphs{
    font-family: 'Hind', sans-serif;
    font-weight: bold;
    color: black;
    text-align: left;
}



.btn_donate_now{
    color: white;
    font-size: 20px;
    padding: 15px 25px;
    font-weight: bold;
    border-radius: 10px;
    background-color: red;
    margin-top: 20px;
    
    
    
}







.third_page_first_container_size{
    height: 120vh;
    width: auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}


.third_page_container{
    display: flex;
    height:120vh;
    width: auto;
    justify-content: center;
    align-items: center;
    
    flex-flow: wrap row;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    
}


.left_third{
   
    
    height: 350px;
    width: 400px;
    border-radius: 15px;
    
    margin-left: 50px;
    margin-right: 50px;
    
    
    
}

.right_third{

height: 300px;
width: 500px;

margin-bottom: 50px;


}


.their_lives_container{
    height: auto;
    width: auto;
}

.headings_for_fourth{
    color:black;
    margin-top: 30px;
    font-size: 40px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}


.headings_for_fourthaaa{
    color:black;
    margin-top: 30px;
    font-size: 40px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}
.paragraphs_for_fourth{
    font-family: 'Hind', sans-serif;
    font-weight: bold;
    text-align: center;
    color: black;
    
    
    
    
}








.Nested_Container{
    height: 180px;
    width: 335px;
    background-color: #FEF4F5;
    display: flex;
    border-radius: 8px;
    margin: 10px;
    flex-flow: wrap row;
}

.image_sizing{
    height: 56px;
    width: 56px;
    padding-top: 40px;
}

.description{
    height: 120px;
    width: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.description h1{
    font-size: 20px;

}

.description p{
    font-size: 18px;
}

.image_class{
    width: 15%;
    height: 80%;
    padding: 20px 10px 0px 20px;
    
}

.Container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;


}

.maincontainer{
    height: auto;
    width: auto;
    display: flex;
    
    margin-bottom: 50px;
}




.image_container_fifth_page{
    height: auto;
    width: auto;
    
   
   
    margin-bottom: 50px;
    
}
.cow_container{
    height: auto;
    width: auto;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;

}

.cowsize{
    height: 100%;
    width: 100%;
    border-radius: 10px;
   
}


.image_sizing_cow{
    border-radius: 20px;
    height: 300px;
    width: 300px;
    margin-left: 10px;
    margin-bottom: 10px;

}



.headings_for_fourth{
    color:black;
    margin-top: 30px;
    font-size: 40px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
    width: 500px;
    position: relative;
    
    
}









.image_sizing_fifth_page{
    height:350px ;
    width: 350px;
    border-radius: 10px;
    margin-left: 20px;
}




.design_last_block{
    height: auto;
    width: 300px;
    background-color: antiquewhite;
    margin-right: 10px;
    margin-left:10px ;
    margin-top: 0px;
    margin-bottom: 50px;
}

.image_sizing_last_sixth{
    height: 180px;
    width: 100%;

    
}

.paragraphs_for_sixth {
    font-size: 20px;
    font-weight: bolder;
    margin-left: 15px;
    height: auto;
    /* //edited */
    width: auto; 
    
   

}

.Heading_for_sixth{
    font-size: 20px;
    font-weight: bolder;
    margin-left: 15px;
    height: 15px;
    width: auto;

}
.paragraphs_normal{
    margin-left: 15px;
    margin-right: 15px; 
    margin-top: 40px;

}


.last_container_flex{
    height: 400px;
    width: auto;
    margin-left: 150px;
    margin-right: 150px;
   

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}


.footer_design{
    height: auto;
    width: auto;
    position: relative;
    background-color: black;
    color: red;
    text-align: center;
    padding-top: 10px;
    font-family: 'Lobster', cursive;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.sixth_page_container{
    height: auto;
    width: auto;
}
.sixth_page_container_2{
    height: 650px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start
}

.heading_flex{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    
}

.paragraph_flex{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    height: auto;
    width: auto;



}

.paragraphs_for_fourth{
    font-family: 'Hind', sans-serif;
    font-weight: bold;
    text-align: center;
    color: black;
    
    
    height: auto;
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
    
   
    
    
    
}